* {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0px;
    padding: 0px;
    font: 100%/1.3 sans-serif;
    overflow: auto;
}
#wrapper {
    width: 1020px;
    max-width: 90%;
    background: linear-gradient(30deg, black white);
    background-size: cover;
    color: #FF0;
}